<html>
<body>

  <h1>PI 7 - Frontend</h1>
  <p>
    When looking at the following textarea with JSON in it, think of it as a
    spiffy UI that in the end produces this JSON and submits it.
  </p>
  <textarea id="request" rows="8" cols="50" style="font-size: 12pt;">
{
  "customer" : "christophe",
  "reservations" : [
    { "id": 1, "reserved": "some hotel" },
    { "id": 2, "reserved": "a plane" }
  ] 
}    
  </textarea><br>
  <input type="submit" onclick="submit();">

  <script src="/static/vendor/jquery.min.js"></script>
  <script>
    function submit() {
      $.ajax({
        type: "POST",
        data :JSON.stringify($("#request").val()),
        url: "/api/web/salesorder/request",
        contentType: "application/json"
      });
    }
    </script>
</body>
</html>
